@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url("./assets/fonts/roboto-v50-latin-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/roboto-v50-latin-italic.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
